# Created by https://www.gitignore.io/api/net,netbeans

#!! ERROR: net is undefined. Use list command to see defined gitignore types !!#

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
